*.class

# Package Files #
*.jar
*.war
*.ear

.*/
!.circleci/
bin/
/.apt_generated/

# Eclipse #
.classpath
.factorypath
.project
.settings/

# Intellij #
*.iml
*.iws

# Mac #
.DS_Store

# Gradle #
!gradle-wrapper.jar
build/
out/
gradle.properties
